{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <img src="{% static 'images/lclLogo.png' %}" style="width: 30%" class="img" alt="logo" width="256" height="128">

    <br/>

    <h1>HI THIS IS MY SUPER COOL WEATHER WEBSITE!</h1>

    <h2>Prediction for {{ next24h.date|default:"N/A" }}:</h2>
    <ul>
    <li>Temperature: {{ next24h.temperature|floatformat:3|default:"N/A" }} (°C)</li>
    <li>Humidity: {{ next24h.humidity|floatformat:3|default:"N/A" }} (%)</li>
    <li>Pressure: {{ next24h.pressure|floatformat:3|default:"N/A" }} (hPa)</li>
    </ul>  

    <h2>Prediction for {{ next36h.date|default:"N/A" }}:</h2>
    <ul>
    <li>Temperature: {{ next36h.temperature|floatformat:3|default:"N/A" }} (°C)</li>
    <li>Humidity: {{ next36h.humidity|floatformat:3|default:"N/A" }} (%)</li>
    <li>Pressure: {{ next36h.pressure|floatformat:3|default:"N/A" }} (hPa)</li>
    </ul> 
    <br />

    <div id="chart-temp"></div>
    <br />

    <div id="chart-hum"></div>
    <br />

    <div id="chart-press"></div>
    <br />

    <h1>Artifacts</h1>

    <div class="row">
        <h2>Feature Importances (24h)</h2>
        <div class="column">
            <table>
                <tr>
                    <th>Feature (Temperature)</th>
                    <th>Importance (Temperature)</th>
                </tr>
                {% for row in artifacts.feature_importances_temp_24h %}
                <tr>
                    <td>{{ row.Feature }}</td>
                    <td>{{ row.Importance }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="column">
            <table>
        <tr>
            <th>Feature (Humidity)</th>
            <th>Importance (Humidity)</th>
        </tr>
        {% for row in artifacts.feature_importances_hum_24h %}
        <tr>
            <td>{{ row.Feature }}</td>
            <td>{{ row.Importance }}</td>
        </tr>
        {% endfor %}
            </table>
        </div>
        <div class="column">
            <table>
                <tr>
                    <th>Feature (Pressure)</th>
                    <th>Importance (Pressure)</th>
                </tr>
                {% for row in artifacts.feature_importances_press_24h %}
                <tr>
                    <td>{{ row.Feature }}</td>
                    <td>{{ row.Importance }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="row">
        <h2>Feature Importances (36h)</h2>
        <div class="column">
            <table>
                <tr>
                    <th>Feature (Temperature)</th>
                    <th>Importance (Temperature)</th>
                </tr>
                {% for row in artifacts.feature_importances_temp_36h %}
                <tr>
                    <td>{{ row.Feature }}</td>
                    <td>{{ row.Importance }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
        <div class="column">
            <table>
                <tr>
                    <th>Feature (Humidity)</th>
                    <th>Importance (Humidity)</th>
                </tr>
                {% for row in artifacts.feature_importances_hum_36h %}
                <tr>
                    <td>{{ row.Feature }}</td>
                    <td>{{ row.Importance }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
        <div class="column">
            <table>
                <tr>
                    <th>Feature (Pressure)</th>
                    <th>Importance (Pressure)</th>
                </tr>
                {% for row in artifacts.feature_importances_press_36h %}
                <tr>
                    <td>{{ row.Feature }}</td>
                    <td>{{ row.Importance }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <h2>RMSE</h2>
    
    <ul>
        <li>(24h) Temperature: {{ artifacts.rmse24h.temp|floatformat:3|default:"N/A" }}</li>
        <li>(24h) Humidity: {{ artifacts.rmse24h.hum|floatformat:3|default:"N/A" }}</li>
        <li> (24h)Pressure: {{ artifacts.rmse24h.press|floatformat:3|default:"N/A" }}</li>
    </ul>  

    <ul>
        <li>(36h) Temperature: {{ artifacts.rmse36h.temp|floatformat:3|default:"N/A" }}</li>
        <li>(36h) Humidity: {{ artifacts.rmse36h.hum|floatformat:3|default:"N/A" }}</li>
        <li>(36h)Pressure: {{ artifacts.rmse36h.press|floatformat:3|default:"N/A" }}</li>
    </ul> 
    <br/>
    
    <img src="{% static 'images/floppa.jpg' %}" class="img" alt="floppa" width="128" height="128">

    <script>
        var weatherData = JSON.parse('{{ weather_data|safe }}');
        
        var dates = weatherData.map(item => item.date);
        var temperatures = weatherData.map(item => item.temperature);
        var humidities = weatherData.map(item => item.humidity);
        var pressures = weatherData.map(item => item.pressure);

        var colors = {
            temp: 'rgb(227, 66, 41)',
            hum: 'rgb(49, 134, 245)',
            press: 'rgb(120, 237, 81)'
        };

        // Temperature Chart
        var temperatureTrace = {
            x: dates,
            y: temperatures,
            type: 'scatter',
            name: 'Temperature',
            mode: 'lines',
            line: { color: colors.temp },
            };

        var temperatureLayout = {
            title: 'Temperature Data',
            xaxis: {
                title: 'Date'
            },
            yaxis: {
                title: 'Temperature'
            }
        };

        Plotly.newPlot('chart-temp', [temperatureTrace], temperatureLayout);

        // Humidity Chart
        var humidityTrace = {
            x: dates,
            y: humidities,
            type: 'scatter',
            name: 'Humidity',
            mode: 'lines',
            line: { color: colors.hum },
        };


        var humidityLayout = {
            title: 'Humidity Data',
            xaxis: {
                title: 'Date'
            },
            yaxis: {
                title: 'Humidity'
            }
        };

        Plotly.newPlot('chart-hum', [humidityTrace], humidityLayout);

        // Pressure Chart
        var pressureTrace = {
            x: dates,
            y: pressures,
            type: 'scatter',
            name: 'Pressure',
            mode: 'lines',
            line: { color: colors.press },
        };

        var pressureLayout = {
            title: 'Pressure Data',
            xaxis: {
                title: 'Date'
            },
            yaxis: {
                title: 'Pressure'
            }
        };

        Plotly.newPlot('chart-press', [pressureTrace], pressureLayout);
    </script>
</body>
</html>
